@using OnlineVideoRentalStore.Models.DtoModels
@model MovieDto

<h1>Edit movie @Model.Title</h1>

<form action="/movies/edit" method="post">
		<input type="number" name="id" hidden value="@Model.Id"/>
	<div class="form-group">
		<label>Title:</label>
		<input class="form-control" type="text" name="title" value="@Model.Title" />
	</div>
	<div class="form-group">
		<label>Genre:</label>
		<input class="form-control" type="text" name="genre" value="@Model.Genre" />
	</div>
	<div class="form-group">
		<label>Language:</label>
		<input class="form-control" type="text" name="language" value="@Model.Language" />
	</div>
	<div class="form-group">
		<label>Release Date:</label>
		<input class="form-control" type="datetime" name="releasedate" value="@Model.ReleaseDate" />
	</div>
	<div class="form-group">
		<label>Length:</label>
		<input class="form-control" type="number" name="length" value="@Model.Length.Minutes" />
	</div>
	<div class="form-group">
		<label>Age Restriction:</label>
		<input class="form-control" type="number" name="agerestriction" value="@Model.AgeRestriction" />
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</form>