@using OnlineVideoRentalStore.Models.DtoModels
@model List<MovieDto>

<h1>All movies</h1>

@if (Model.Count == 0)
{
	<p>No movies here.</p>
} else
{
	<table class="table">
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Genre</th>
			<th>Language</th>
			<th>Release Date</th>
			<th>Length</th>
			<th>Age Restriction</th>
		</tr>
		@foreach (MovieDto movie in Model)
		{
			<tr>
				<td>@movie.Id</td>
				<td>@movie.Title</td>
				<td>@movie.Genre</td>
				<td>@movie.Language</td>
				<td>@movie.ReleaseDate</td>
				<td>@movie.Length</td>
				<td>@movie.AgeRestriction</td>
				<td>
					@Html.ActionLink("Edit", "edit", "movies", new { Id = @movie.Id }, new { @class = "btn btn-warning" })
				</td>
			</tr>
		}
	</table>
}
